<div ng-if="list.items">
    <ul id="found-items">
        <li class="list-group-item" ng-repeat="item in list.items">
            <ul class="innerlist">
            <li> {{item.short_name}} - {{ item.name }}</li>
            <li>"{{item.description}}"</li>
            </ul>
            <button ng-click="list.onRemove({index: $index})" class="pull-right remove"  title="remove {{item.name}}"> Dont want this one!</button>
        </li>
        
    </ul>
</div>
<div ng-if="list.errorMsg">Error: {{list.errorMsg}}</div>