<div class="container">
  <div class="col-md-5">
    <form class="form" name="signupForm" novalidate>
        <legend>Sign up for our Newsletter</legend>
        <p>
        <label for="fname">First name</label>
        <input class="form-control" ng-model="$ctrl.fname" type="text" name="fname" required>
        <span ng-if="signupForm.fname.$error.required && signupForm.fname.$touched"> The First name field is required</span>
        </p>
        <p>
        <label for="lname">Last Name</label>
        <input class="form-control" ng-model="$ctrl.lname" type="text" name="lname" required>
        <span ng-if="signupForm.lname.$error.required && signupForm.lname.$touched"> The Last name field is required</span>
        </p>
        <p>
        <label for="email">Email</label>
        <input class="form-control" ng-model="$ctrl.email" type="email" name="email" required>
        <span ng-if="signupForm.email.$error.required && signupForm.email.$touched"> The email field is required</span>
        </p>
        <p>
        <label for="phone">Phone number</label>
        <input class="form-control" ng-model="$ctrl.phone" type="tel" name="phone" required>
        <span ng-if="signupForm.phone.$error.required && signupForm.phone.$touched"> The Phone number field is required</span>
        </p>
        <p>
        <label for="fav">Enter your favorite menu item</label><br>
        <input class="form-control" placeholder="enter shortcode eg. L" ng-model="$ctrl.fav" type="text" name="fav" required>
        <span ng-if="signupForm.fav.$error.required && signupForm.fav.$touched"> We would be grateful if you could fill this out</span>
        </p>

        <button class="btn btn-primary" ng-click="$ctrl.submit(signupForm)" >Sign me up!</button>
    </form>
  </div>
</div>
